.App {
  text-align: center;
}

.mainGrid{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  /* row-gap: 10px; */
  grid-template-rows: repeat(10, 1fr);
  padding: 30px;
}

.gridCell{
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.gridCell:hover{
  background-color: aliceblue;

}

.clickedCell{
  background-color: aquamarine !important;
}

.visitedCell{
  background-color: red !important;
  transition: background-color 0.2s;
}


.calc{
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.bars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.bar{
  width: 10px;
  background-color: black;
  margin-right: 5px;
  cursor: pointer;
  padding: 10px 0;
}

.bar:hover{
  background-color: gray;
}

