.App {
  text-align: center;
}

.mainGrid{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  /* row-gap: 10px; */
  grid-template-rows: repeat(10, 1fr);
  padding: 30px;
}

.gridCell{
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.gridCell:hover{
  background-color: aliceblue;

}

.clickedCell{
  background-color: aquamarine !important;
}

.visitedCell{
  background-color: red !important;
  transition: background-color 0.5s;
}


