.App {
  text-align: center;
}

.mainBoard{
  background-color: blanchedalmond;
  margin: 10px;
}

.mainGrid{
  display: grid;
  grid-template-columns: repeat(10,1fr);
  /* row-gap: 10px; */
  grid-template-rows: repeat(10, 1fr);
  padding: 30px;
}

.gridCell{
  padding: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.gridCell:hover{
  background-color: aliceblue;

}

.clickedCell{
  background-color: aquamarine !important;
}

.visitedCell{
  background-color: red !important;
  transition: background-color 0.2s;
}

.pathSelectTool{
  padding: 5px;
  border-radius: 10px;
  font-weight: bold;
}

.calculator{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:20px;
  background-color: cornflowerblue;
}

.calcBoard{
  width: 50%;
  display: grid;
  grid-template-columns: repeat(3,1fr);
}

.display{
  width: 47%;
  height: 20px;
  padding: 20px 20px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(255, 247, 237);
  margin-bottom: 5px;
}

.sort{
 background-color: ivory;
 margin: 10px;
}

.bars{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 20px;
}

.bar{
  width: 10px;
  background-color: black;
  margin-right: 5px;
  cursor: pointer;
  padding: 10px 0;
}

.bar:hover{
  background-color: gray;
}


